<section id="about" class="about">
      <div class="col-lg-12 text-center">
        <br>
        <img src="./img/ihi.jpg" alt="Ifakara Health Institute" height="80px">
        <img src="./img/ucsf.png" alt="University of California, San Francisco" height="80px">
        <img src="./img/berkeley.jpg" alt="University of California, Berkeley" height="80px">
        <img src="./img/itesm.png" alt="Tecnológico de Monterrey" height="80px">
        <img src="./img/swiss.jpg" alt="Swiss TPH" height="80px">
      </div>
</section>
