<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        
        <br><br>
        <p>VCOM is a model created to help policy makers make decisions on which mosquito-control interventions should be prioritised in different given scenarios. To this end we have created two graphical user interfaces (GUIs) to make the model accessible to people without programming or modelling backgrounds.</p>
        <p>
        There are to versions of our GUIs. The first one (named "Simple") is oriented towards people who want a quick comparison between interventions. It is controlled with sliders and buttons and contains a baseline parametrisation of how interventions work and of mosquitos biological parameters. The "Advanced" one is designed to be used by people with a more profound entomological/epidemiological background. This one is controlled with an XLS file and allows the modification of most of the model's parameters even without needing programming skills. The third and final option is to download the code from our github repository and code away any modifications needed (only for the bravest).
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
