<header id="top" class="header">
  <div class="text-vertical-center">
      <div class="container" style="background-color:rgba(0, 0, 0, 0.75);">
          <font color="white">
              <h1>VCOM</h1>
            <h3>Vector Control Optimization Model</h3>
          </font>
          <br>
          <a href="https://chipdelmal.shinyapps.io/1979/" class="btn btn-light btn-lg">Simple GUI</a>
          <a href="#about" class="btn btn-gray btn-lg">About</a>
          <a href="https://chipdelmal.shinyapps.io/AnotherSunnyDay/" class="btn btn-light btn-lg">Advanced GUI</a>
          <br>
          <br>
      </div>
      <br>
      <br>
      <br>
      <br>
      
      
  </div>
</header>
