<header id="top" class="header">
  <div class="text-vertical-center">
      <div class="container" style="background-color:rgba(0, 0, 0, 0.75);">
          <font color="white">
            <br><br>
            <h1>VCOM</h1>
            <h3>Vector Control Optimization Model</h3>
            <br>
            <a href="https://chipdelmal.shinyapps.io/TheBluesAreStillBlue/" class="btn btn-light btn-lg">Advanced GUI</a>
            <a href="https://chipdelmal.shinyapps.io/ImpossibleGermany/" class="btn btn-light btn-lg">Simple GUI</a>
            <a href="https://github.com/Chipdelmal/VCOM" class="btn btn-light btn-lg">GitHub Repository</a><br><br>
            <i>This model just got 20% cooler in 10 seconds flat...</i>
            <br><br>
            <a href="#services" class="btn btn-gray btn-lg">About</a>
            <!--<a href="#portfolio" class="btn btn-gray btn-lg">Paired Combinations Experiment</a>-->
            <br><br><br>
          </font>
      </div>
      <br>
      <br>
      <br>
      <br>
  </div>
</header>
