<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Paired Combinations Experiment</h2>
        <p>Factorial experiment of pairwise combinations of interventions. Starting from an EIR of 50 and holding the coverage of ITN at 50% all other interventions were tested at different levels of coverage for <i>Anopheles gambiae</i> mosquitos.</p>
        <a href="https://slwu89.shinyapps.io/VCOM_example_sweep/">
            <img class="img-portfolio img-responsive" src="img/table.png">
        </a>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
